


ALTER PROCEDURE            [dbo].[SP_DAILYleavedata] 

  

AS
BEGIN

   TRUNCATE TABLE templeavereport 

  INSERT INTO [templeavereport]
           ([empid]
           ,[empname]
           ,[company]
           ,[designation]
           ,[branch]
           ,[empcategory]
           ,[elavailed]
           ,[elentitlement]
           ,[elbalance]
           ,[excessdaysel]
           ,[elreason]
           ,[scelavailed]
           ,[scelentitlemant]
           ,[scelbalance]
           ,[excessdayscel]
           ,[scelreason]
           ,[clavailed]
           ,[clentitlement]
           ,[clbalance]
           ,[excessdayscl]
           ,[clreason]
           ,[slavailed]
           ,[slentitlement]
           ,[slbalance]
           ,[excessdayssl]
           ,[slreason]
           ,[janel]
           ,[febel]
           ,[marchel]
           ,[aprel]
           ,[mayel]
           ,[junel]
           ,[julyel]
           ,[augel]
           ,[sepel]
           ,[octel]
           ,[novel]
           ,[decel]
           ,[janscel]
           ,[febscel]
           ,[marchscel]
           ,[aprscel]
           ,[mayscel]
           ,[junscel]
           ,[julyscel]
           ,[augscel]
           ,[sepscel]
           ,[octscel]
           ,[novscel]
           ,[decscel]
           ,[jansl]
           ,[febsl]
           ,[marchsl]
           ,[aprsl]
           ,[maysl]
           ,[junsl]
           ,[julysl]
           ,[augsl]
           ,[sepsl]
           ,[octsl]
           ,[novsl]
           ,[decsl]
           ,[jancl]
           ,[febcl]
           ,[marchcl]
           ,[aprcl]
           ,[maycl]
           ,[juncl]
           ,[julycl]
           ,[augcl]
           ,[sepcl]
           ,[octcl]
           ,[novcl]
           ,[deccl])
     select [empid]
           ,[empname]
           ,[company]
           ,[designation]
           ,[branch]
           ,[empcategory]
           ,[elavailed]
           ,[elentitlement]
           ,[elbalance]
           ,[excessdaysel]
           ,[elreason]
           ,[scelavailed]
           ,[scelentitlemant]
           ,[scelbalance]
           ,[excessdayscel]
           ,[scelreason]
           ,[clavailed]
           ,[clentitlement]
           ,[clbalance]
           ,[excessdayscl]
           ,[clreason]
           ,[slavailed]
           ,[slentitlement]
           ,[slbalance]
           ,[excessdayssl]
           ,[slreason]
           ,[janel]
           ,[febel]
           ,[marchel]
           ,[aprel]
           ,[mayel]
           ,[junel]
           ,[julyel]
           ,[augel]
           ,[sepel]
           ,[octel]
           ,[novel]
           ,[decel]
           ,[janscel]
           ,[febscel]
           ,[marchscel]
           ,[aprscel]
           ,[mayscel]
           ,[junscel]
           ,[julyscel]
           ,[augscel]
           ,[sepscel]
           ,[octscel]
           ,[novscel]
           ,[decscel]
           ,[jansl]
           ,[febsl]
           ,[marchsl]
           ,[aprsl]
           ,[maysl]
           ,[junsl]
           ,[julysl]
           ,[augsl]
           ,[sepsl]
           ,[octsl]
           ,[novsl]
           ,[decsl]
           ,[jancl]
           ,[febcl]
           ,[marchcl]
           ,[aprcl]
           ,[maycl]
           ,[juncl]
           ,[julycl]
           ,[augcl]
           ,[sepcl]
           ,[octcl]
           ,[novcl]
           ,[deccl]
  from leavereport where  empid in(Select eid from storeempid1) order by id;

END
